@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 280 85% 95%;
    --foreground: 280 84% 20%;

    --card: 45 100% 95%;
    --card-foreground: 45 84% 20%;

    --popover: 170 85% 95%;
    --popover-foreground: 170 84% 20%;

    --primary: 320 90% 50%;
    --primary-foreground: 320 40% 98%;

    --secondary: 45 100% 50%;
    --secondary-foreground: 45 47.4% 11.2%;

    --muted: 170 40% 96.1%;
    --muted-foreground: 170 16.3% 46.9%;

    --accent: 280 90% 50%;
    --accent-foreground: 280 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 40% 98%;

    --border: 280 31.8% 91.4%;
    --input: 280 31.8% 91.4%;
    --ring: 280 84% 40%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 280 30% 10%;
    --foreground: 280 40% 98%;

    --card: 45 30% 10%;
    --card-foreground: 45 40% 98%;

    --popover: 170 30% 10%;
    --popover-foreground: 170 40% 98%;

    --primary: 320 90% 50%;
    --primary-foreground: 320 47.4% 11.2%;

    --secondary: 45 32.6% 17.5%;
    --secondary-foreground: 45 40% 98%;

    --muted: 170 32.6% 17.5%;
    --muted-foreground: 170 20.2% 65.1%;

    --accent: 280 90% 50%;
    --accent-foreground: 280 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 40% 98%;

    --border: 280 32.6% 17.5%;
    --input: 280 32.6% 17.5%;
    --ring: 280 26.8% 83.9%;

    --radius: 0.5rem;
  }
}